@import '../../variables';

.blog {
  display: flex;
  flex-direction: column;
}

.heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;

  h1 {
    font-family: $font-family;
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 5rem;
    letter-spacing: -0.04em;
  }
}

.container {
  display: flex;
  flex-direction: row;
}

.groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .container {
    flex-direction: column-reverse;
  }

  .groupA {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 700px) {
  .groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    h1 {
      font-size: 3rem;
      line-height: 3.2rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .heading {
    h1 {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  }
}
